footer {
    color: var(--mainFontColor);
    display: block;
    font-family: var(--fontNunito);
    font-size: var(--fontSize20);
    font-weight: 600;
    background: rgb(23, 71, 127);
    font-size: clamp(14px, 4vw, 20px);
}

.footer-section {
    width: 100%;
    padding: 77px;
}

.footer-contact-title {
    font-size: 20px;
    font-weight: var(--fontWeight400);
    margin-bottom: 0;
}

.footer-left {
    margin-top: 40px;
}

.footer-contact-title {
    margin: 0px;
}

.foooter-social>ol,
ul {
    padding-left: 0rem;
}

.footer-line {
    width: 137px;
    display: block;
    margin-bottom: 10px;
    border: 0.5px solid rgba(255, 255, 255, 1)
}

.footer-social-li {
    /* text-align: left; */
    padding: 10px 0;
}

.footer-social-a {
    color: var(--mainFontColor);
}

.footer-social-a:hover {
    color: var(--mainFontColor);
}

.footer-social-a i {
    padding-right: 26px;
}


.footer-flex {
    display: flex;
    justify-content: start;
    padding: 10px 0;
}

.footer-flex .contact-link {
    display: block;
    color: var(--mainFontColor);
    margin-left: 7px;
}

.footer-right {
    width: 377px;
    height: 294px;
    margin: 0 auto;
}

.footer-right-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.copyright {
    background: rgba(11, 61, 120, 1);
    height: 56px;
    width: 100%;
    line-height: 1.2;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.copyright-text {
    text-align: center;
}

.copyright-link {
    margin-left: 5px;
    color: var(--mainFontColor);
}

.copyright-link:hover {
    text-decoration: underline;
    color: var(--mainFontColor);
}

@media screen and (max-width: 480px) and (min-width:320px) {
    /* footer {
        font-size: 16px;
    } */

    .footer-right {
        width: 200px;
        height: 150px;
    }

    .footer-section {
        padding: 27px;
    }

    .footer-left {
        margin-top: 20px;
    }

    .footer-contact-title {
        font-size: 17px;
    }

    .footer-line {
        width: 100px;
    }

    .copyright {
        height: 85px;
        /* line-height: 24px; */
    }

}

@media screen and (max-width: 576px) and (min-width:480px) {
    /* footer {
        font-size: 16px;
    } */

    .footer-right {
        width: 200px;
        height: 150px;
    }

    .footer-section {
        padding: 27px;
    }

    .footer-left {
        margin-top: 20px;
    }

    .footer-contact-title {
        font-size: 17px;
    }

    .footer-line {
        width: 100px;
    }

    /* .copyright {
        height: 75px;
        line-height: 24px;
    } */

}

@media screen and (max-width: 768px) and (min-width:576px) {


    .footer-right {
        width: 200px;
        height: 150px;
    }

    .footer-section {
        padding: 27px;
    }

    .footer-left {
        margin-top: 20px;
    }

    .footer-contact-title {
        font-size: 17px;
    }

    .footer-line {
        width: 100px;
    }

    .footer-social-li {
        text-align: left;
        padding: 10px 0;
    }

    /* .copyright {
        height: 75px;
        line-height: 1.2;
    } */



}

@media screen and (max-width: 1024px) and (min-width:768px) {

    footer {
        font-size: 15px;
    }

    .footer-right {
        width: 230px;
        height: 190px;
    }

    .footer-social-li {
        text-align: left;
        padding: 10px 0;
    }

    /* .copyright {
        height: 75px;
        line-height: 75px;
    } */

}

@media screen and (max-width: 1200px) and (min-width:1024px) {

    footer {
        font-size: 15px;
    }

    .footer-right {
        width: 230px;
        height: 190px;
    }

    .footer-social-li {
        text-align: left;
        padding: 10px 0;
    }

    /* .copyright {
        height: 75px;
        line-height: 75px;
    } */

}